<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connect.hiveconnect">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HiveConnect">
        <activity
            android:name=".view.PackageScreen"
            android:exported="true" />
        <activity
            android:name=".view.CreateMeetingScreen"
            android:exported="true" />
        <activity
            android:name=".view.HostScreen"
            android:exported="true" />
        <activity
            android:name=".view.JoinMeetScreen"
            android:exported="true" />
        <activity
            android:name=".view.ChangePasswordScreen"
            android:exported="true" />
        <activity
            android:name=".view.EditProfileScreen"
            android:exported="true" />
        <activity
            android:name=".view.ProfileScreen"
            android:exported="true" />
        <activity
            android:name=".view.ForgotScreen"
            android:exported="true" />
        <activity
            android:name=".view.RegisterScreen"
            android:exported="true" />
        <activity
            android:name=".view.LoginScreen"
            android:exported="true" />
        <activity
            android:name=".view.OnBoardScreen"
            android:exported="true" />
        <activity
            android:name=".view.HomeScreen"
            android:exported="true" />
        <activity
            android:name=".view.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>